@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", Arial;
    line-height: 1.6;
    color: #707070;
    margin: 0;
    padding: 0;
    background: rgba(21, 27, 43, 0.95);
}

.menu-toggle {
    display: none;
    background-color: #151b2b;
    color: #beb4b4;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
}

.nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: inherit;
    width: 100%;
    flex-direction: column;
    padding: 0;
}

.nav-links.show {
    display: flex;
}

.tc {
    color: rgb(255, 255, 255);
}

header {
    color: #beb4b4;
    height: 100vh;
    max-height: 450px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: end;
    background-color: #151b2b75;
}

header::before {
    content: '';
    position: fixed;
    top: 0px;
    background-image: url("./images/profile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(10px);
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #beb4b4;
    text-decoration: none;
}

nav ul li a:hover {
    color: royalblue;
}

section {
    padding: 20px 0;
}

h1 {
    margin-bottom: 10px;
}

.name {
    color: rgb(248, 255, 255);
    font-weight: 700;
}

.name-t {
    color: rgb(248, 255, 255);
    font-weight: 500;
}

.profile-image {
    height: 225px;
    width: 225px;
    border-radius: 200px;
    margin: auto;
    object-fit: cover;
    border: royalblue 1px solid;
}

.desc {
    margin: auto;
    max-width: 55vw;
    font-weight: bold;
}

.col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 30px;
    justify-items: flex;
    align-items: flex;
    margin: 20px 0;
}

main {
    background-color: inherit;
    position: relative;
    z-index: 10;
    padding: 30px 0px;
}

section {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-top: royalblue 1px solid;
    place-items: center;
    align-items: center;
    min-height: 50vh;
}

section h2 {
    color: royalblue;
    text-transform: uppercase;
}

section b {
    color: white;
}

section li {
    margin-bottom: 20px;
}

footer {
    background-color: #151b2b;
    color: #beb4b4;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: royalblue 1px solid;
}

a {
    color: #beb4b4;
    text-decoration: none;
}

.bar {
    width: 200px;
    height: 8px;
    border-radius: 5px;
    display: block;
    background-color: #1c2541;
}

.bar div {
    height: 100%;
    border-radius: 5px;
    background-color: rgb(85, 125, 245);
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 100px 100px 10px 100px;
    font-size: 1.6em;
    cursor: pointer;
    box-shadow: #02164e 15px 2px 5px;
}

.chat-button:hover {
    background-color: #02164e;
    box-shadow: royalblue 15px 2px 5px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 20px;
    background-color: inherit;
    border-radius: 1px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
}

legend {
    padding: 0 5px;
}

.file {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

time {
    color: #beb4b4;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (min-width: 1440px) {
    section {
        min-height: 15vh;
    }
}

@media (prefers-reduced-motion) {
    .hidden, .show {
        transition: none;
    }
}

@media (max-width: 767px) {
    header {
        color: #fff;
        max-height: 400px;
        align-items: flex-end;
    }

    nav ul {
        width: 100%;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
        padding: 10px 0;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .nav-links.show {
        display: block;
    }

    .profile-image {
        height: 180px;
        width: 180px;
        border-radius: 180px;
        border: orange 1px solid;
    }

    .desc {
        max-width: 90vw;
    }

    main {
        padding: 50px 0px;
    }

    section {
        width: 90%;
    }

    .bar {
        height: 5px;
    }

    .chat-button {
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: #02164e 5px 2px 5px;
    }

    form {
        max-width: 90%;
    }

    .col {
        grid-template-columns: 1fr;
        margin: 10px 0;
    }
}
